<div class="main-container">
  <nav class="navbar">
    <div class="container">
      <span class="logo">CoCreando</span>
      <div class="nav-links">
        <a (click)="navigateTo('/dashboard')">Proyectos</a>
        
        <!-- Mostrar enlaces condicionales basados en el estado de autenticación -->
        <ng-container *ngIf="authService.isAuthenticated$ | async; else notAuthenticated">
          <!-- Nuevo contenedor para usuario y notificaciones -->
          <div class="user-notifications">
            <div class="notification-icon" (click)="toggleNotifications()">
              🔔
              <span class="notification-badge" *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</span>
              <div class="notifications-dropdown" *ngIf="showNotifications">
                <div class="notification-item" *ngFor="let notification of notifications">
                  {{ notification.message }}
                </div>
                <div class="notification-empty" *ngIf="notifications.length === 0">
                  No hay notificaciones
                </div>
              </div>
            </div>
            <a (click)="navigateTo('/user-profile')">{{ authService.currentUser$ | async | userDisplay }}</a>
            <a (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
          </div>
        </ng-container>
        
        <ng-template #notAuthenticated>
          <a (click)="navigateTo('/login')">Iniciar Sesión</a>
          <a (click)="navigateTo('/register')">Registrarse</a>
        </ng-template>
      </div>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="app-footer">
    <span>© 2025 CoCreando - Todos los derechos reservados</span>
  </footer>
</div>